@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    
}
.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #ffdc00;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    }

    .shop {
        font-weight: 200;
    }

  .shop-name h3 {
      color: #6f6f6f;
      font-size: 20px;
  }

  .shop-number {
      text-align: right;
  }
  .shop-number h3 {
      font-size: 25px;
  }

  .button-call {
    color: white;
    text-decoration: none;
    font-size: 22pt;
    padding: 10px 40px;
    outline: none;
    cursor: pointer;
    
    border: 0px;
    box-shadow: 0 -5px #353434 inset;
    border-radius:10px;
    background: #6f6f6f;
    margin-top: 8px;

}

.button-call:hover {
    background: #6f6f6f;
}

.button-call:active {
    background: #333333;
}

.intro {
    background: url(../style/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.intro-right {
    display: flex;
    flex-direction: column;
    
    
    justify-content: center;
}

.price-img {
    width: 30%;
}

.intro h2 {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    line-height: 2;
}

.gift {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.timer {
    margin: 20px 0px 20px 0px;
}

.info-title {
    text-align: center;
    font-size: 35px;
    margin: 30px;
}

.info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
    align-content: center;
    line-height: 3;
}

.info-item h3 {
    line-height: 1;
}

.info-item h6 {
    font-size: 20px;
    font-weight: bold;
}

.info-item p {
    font-weight: inherit
}

.img {
    margin: 30px;
}

.info-buy-btn {
    text-align: center;
    padding: 20px 0 20px 0;
}

.buy-reasons-header {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding: 40px;
}

.buy-reasons-title {
    color:#ffdc00;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.buy-reasons-text {
    font-size: 14px;
    font-weight: 80;
}
.buy-reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jeep, .discount, .economy, .checked {
    text-align: center;
}

.video {
    height: 480px;
    width: 720px;
   display: flex;
   margin: 0 auto;
   border: 5px solid #ffdc00;
   border-radius:5px;
   margin-top: 50px;
   }

   .video-title {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding: 40px;
    }

    .how-you-economy-title {
        font-size: 35px;
    text-align: center;
    padding: 40px;
    }

    .how-you-economy-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .repair-text {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .price-with-gift-text {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .text-weight {
        font-weight: 80;
    }

    .button-buy {
    color: #333333;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 80px;
    outline: none;
    cursor: pointer;
    
    border: 0px;
    box-shadow: 0 -5px rgb(167, 138, 86) inset;
    transition: 0.4s;
    border-radius:10px;
    background: #ffdc00;
    margin: 8px 0 8px 0;
    }

    .button-buy:hover {
        background:#ffdc00;
        color: white;
    }
    .button-buy:active {
        background-color: rgb(167, 138, 86);
        transition: 0.1s;
    }
    

    .button-buy-container {
        display: flex;
        justify-content: center;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews-title {
        font-size: 35px;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    }

    .reviews-img {
        border: 5px solid;
        border-color: #ffdc00;
        margin-right: 30px;
    }

    .reviews-text {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }

    .reviews-ava {
        display: flex;
        justify-content: flex-end;
        padding-right: 500px;
    }
 .city-name {
     opacity: 0.7;
 }

 .delivery-title {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     font-size: 30px;
     padding: 40px;
 }

 .warranty-title {
     padding:40px 0 40px;
     font-size: 23px;
 }

 .warranty-list {
        padding-left: 70px;
    }


    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px;
    }

    .services-img {
        text-align: center;
    }

    .services-title {
        color: #ffdc00;
        font-size: 20px;
        font-weight: 800;
    }

    .delivery-info {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }


    .delivery-head {
        text-transform: uppercase;
        font-weight: 800;
        padding: 40px;
    }

    section h3 {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
    }

    .yellow-letters {
        color: #ffdc00;
    }
    
    @media screen and (max-width: 600px) {
        .video {
            width: 480px;
            height: 320px;
        }
    }
    @media screen and (max-width: 400px) {
        .video {
            width: 320px;
            height: 240px;
        }
        * {
            
        }
    }
    